#post-list {
    margin:10%;
}

#post-list li {
    margin-bottom: 20px;
}

.bold {
    background-color: #DDDDDD;
}

.post-item {
    width: 30%;
    float:left;
}

.author-item {
    width: 30%;
    float:right;
}