$large-width:1224px;
$desktop-width:1024px;
$tablet-width:768px;
$smallTablet-width:480px;
$mobile-width:320px;
$font:'Myriad Pro';
@mixin margin() {
	margin:50px 0;
}
@mixin span-p() {
	span {
		font-size:30px;
		font-family:$font;
	}
	p {
		font-size:20px;
		font-family:$font;
	}
}
@mixin desktop() {
	@media (min-width: #{$large-width}) {
		@content;
	}
}

@mixin ipad() {
	@media (min-width: #{$tablet-width}) and (min-width: #{$desktop-width}) {
		@content;
	}
}

@mixin smartphone() {
	@media (min-width: #{$mobile-width}) and (min-width: #{$smallTablet-width}) {
		@content;
	}
}

.col-4 {
	@include desktop{
		width:400px;
		float:left;
	}
}
.col-8 {
	@include desktop{
		width:560px;
		float:left;
		padding-left:30px;
	}
}


#header {
	@include desktop{
		width:100px;
	}
}

#body {
	@include desktop{
		margin-top:145px;
	}
}
.nav.nav-tabs {
	@include desktop{
		padding-left: 300px;
	}
}

.navbar-nav {
	float:right;
	a {
		height:92px;
		font-family:$font;
		font-size:12px;
		color:#d4d4d4;
		border-left:1px solid #292c2d;
		border-right:1px solid #292c2d;
	}
	li a {
		padding-top:50px;
	}
}

.nav-tabs>li>a {
	margin-right: 0 !important;
	line-height: 1.42857143;
	border-radius: 4px 4px 0 0;
	border: 1px solid #ddd !important;
}

#navbar li a:hover {
	background-color:#35373a;
	color:#86acc4;
}


.contain {
	width:960px;
	margin:auto;
}

#logo {
	@include desktop{
		margin:15px 0;
	}
}

.navbar {
	@include desktop{
		background:#3a3d40;
		height:94px;
	}
}

#service {
	@include desktop{
		margin-top:54px;
		text-align:center;
		font-family:$font;
		@include span-p;
	}
}

#service_info {
	text-align:left;
	font-family:$font;
	span {
		font-size:17px;
	}
	p {
		font-size:13px;
	}
}
#webDesignTab,#photoTab,#graphicsTab {
	height:384px;
	@include desktop{
		margin-top:32px;
	}
	p {
		@include desktop{
			margin-top:20px;
		}
	}
}

.dash {
	@include desktop{
		clear: both;
		border:2px dotted #b1b1b1;
	}
}

#project {
	@include desktop{ 
		height:640px;
		@include margin;
		@include span-p;
		text-align:center;
		img {
			width:312px;
			height:250px;
		}
		.galery4 {
			margin-top:14px;
			width:320px;
			float:left;
		}
	}
}

#blog {
	@include desktop{ 
		@include margin;
		@include span-p;
		text-align:center;
	}
}

#customer {
	@include desktop{ 
		@include margin;
		@include span-p;
		text-align:center;
		.customer-list {
			width:160px;
			float:left;
		}
	}
}